---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<div class="publication-list publication-list--page">
{% for pub in site.data.all_publications %}
  <article class="publication" id="{{ pub.key }}">
    <div class="publication-tag">{{ pub.tag | default: pub.short_venue }}</div>
    <div class="publication-content">
      <span class="publication-title">{{ pub.title }}</span>
      <br>
      {{ pub.authors }}
      <div class="publication-venue">
        <em>{{ pub.venue }}</em>{% if pub.details %}, {{ pub.details }}{% endif %}, {{ pub.year }}.
      </div>
    </div>
  </article>
{% endfor %}
</div>
